<div>
    <h1>Blog Create</h1>
<form action="/blogs" method="POST">
    <div>
        <label>Title</label>
        <input name="title" type="text"/>
    </div>
    <div>
        <label>Intro</label>
        <input name="intro" type="text"/>
    </div>
    <div>
        <label>Body</label>
        <textarea name="body"></textarea>
    </div>
    <div>
        <button type="submit">Create Blog</button>
    </div>
</form>
</div>